#info {
  display: block;
}

#info.roman {
  background: var(--beige);
  background: linear-gradient(240deg, var(--beige) 0%, var(--red) 100%);
}

#info.barbarian {
  background: var(--beige);
  background: linear-gradient(240deg, var(--beige) 0%, var(--darkBlue) 100%);
}

#info.nature {
  background: var(--beige);
  background: linear-gradient(240deg, var(--beige) 0%, var(--lightGrey) 100%);
}

#info div,
form {
  color: var(--white);
}

#info button {
  color: var(--black);
}

.close-button {
  padding: 5px;
  margin-bottom: 15px;
}

.hidden-div {
  display: none;
}
