@import url("colors.css");
@import url("layout.css");
@import url("board/cell.css");
@import url("board/main.css");
@import url("panels/info.css");
@import url("panels/topbar.css");

@font-face {
  font-family: "Roman";
  src: url("../images/fonts/roman.ttf");
}

header {
  font-family: "Roman";
}

input {
  text-align: center;
  color: var(--black);
}
