@import url("colors.css");
@import url("layout.css");
@import url("board/cell.css");
@import url("board/main.css");
@import url("panels/info.css");
@import url("panels/topbar.css");

@font-face {
  font-family: "Roman";
  src: url("../images/fonts/roman.ttf");
}

header {
  font-family: "Roman";
}

input {
  text-align: center;
  color: var(--black);
}

label {
  margin: 0;
}

.custom-col-checkbox {
  display: flex;
  justify-content: flex-end;
}

.custom-col-label {
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
}

.custom-row {
  display: flex;
  margin-bottom: 10px;
}

.custom-col-1 {
  flex: 1;
}

.custom-col-2 {
  flex: 2;
}
